<template>
  <v-app>
    <v-card height="100%">
      <v-app-bar dark>
	<v-app-bar-nav-icon @click.stop="drawer = !drawer" color="white"></v-app-bar-nav-icon>
	<v-toolbar-title>XNews Home</v-toolbar-title>
	
	<v-spacer></v-spacer>
	
	<v-btn icon>
	  <v-icon>mdi-cancel</v-icon>
	</v-btn>
      </v-app-bar>
	<v-navigation-drawer v-model="drawer" temporary absolute dark>
	  <template v-slot:prepend>
	    <v-list-item two-line>
	      <v-list-item-avatar>
		<img src="https://cdn4.iconfinder.com/data/icons/gradient-5/50/436-512.png">  
	      </v-list-item-avatar>

	      <v-list-item-content>
		<v-chip>Select News Provider</v-chip>
	      </v-list-item-content>
	    </v-list-item>
	  </template>

	  <v-divider></v-divider>

	  <v-list dense>
	    <v-list-item v-for="(item,i) in items" :key="i" @click="news(item.id)">
	      <v-list-item-icon>
	      </v-list-item-icon>
	      <v-list-item-content>
		<v-list-item-title @click="news(item.id)">{{ item.name }}</v-list-item-title>
	      </v-list-item-content>
	    </v-list-item>
	  </v-list>
	</v-navigation-drawer>
	
      <v-container>
	<v-layout align-center justify-center><v-chip v-if="first === true"> Top Headline News From {{dasource}}</v-chip></v-layout>
	<v-row >

	  <v-col cols="12">
	    <!--<v-card dark raised elevation="100%" hover color="white darken-1"> -->
	      <div class="d-flex flex-no-wrap justify-space-between">
		<div>
		  <v-row>
		  <v-expansion-panels focusable dark elevation="100%" style="margin-left:15%;margin-right:15%;">
		    <v-expansion-panel v-for="(itms, i) in itm" :key="i">
		  <v-expansion-panel-header ripple style="font-size:4vw;"># {{itms.title}} : <br></br><br>{{itms.description}}</br> </v-expansion-panel-header>
		  <v-expansion-panel-content style="font-size:2vw;">
		    {{itms.content}}
		    </v-expansion-panel-content>
		    </v-expansion-panel>
		  </v-expansion-panels>
		  </v-row>
		</div>
	      </div>
	    <!-- </v-card> -->
	    <v-divider></v-divider>
	  </v-col>

	  
	</v-row>
	<v-layout align-center justify-center><v-chip> accesed from </v-chip></v-layout>
      </v-container>
    
    </v-card>
    </v-app>
  </template>
  <script>
//import NewsAPI from 'newsapi';
//const news = new NewsAPI('a98c724157044930b3d569d34c3ce8ae');
const NewsAPI = require('newsapi');
const newsapi = new NewsAPI('a98c724157044930b3d569d34c3ce8ae');
export default {
    data() {
	return {
	    dasource: "",
	    first: false,
	    mini: false,
	    drawer: null,
	    items: {},
	    itm: {},
	};
    },

    methods: {
	news: function(source){
	    //alert(source);
	    this.first = true;
	    this.dasource = source;
	    newsapi.v2.topHeadlines({
		sources: source,
		//q: 'bitcoin',
		//category: 'business',
		language: 'en',
		//country: 'us'
	    }).then(r=>{
		//console.log(r.articles);
		this.itm = r.articles;
		console.log(r.articles[1].content);
	    }).catch(e=>{
		alert(e);
	    });
	},
    },
beforeCreate(){
    newsapi.v2.sources({
	//category: 'business',
	language: 'en',
	country: 'us'})
	.then(r=>{
	    //var data;
	    //data = r;
	    this.items = r.sources;
	});
}
}
</script>
