<template>
<v-app>
<v-parallax
      :src="require('@/assets/skynews-papers-uk_4737513.jpg')"
      height="100%"
      style="width: 100%; height: auto;
      height:100%;"
    >
   <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline"> Welcome to XNews</v-card-title>
        <v-card-text>This is simple app to demonstrate usability of vue with cordova device api & fetching data from various news site, click next button to continue using this app</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="next">NEXT</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</v-parallax>
</v-app>
</template>

<script>
import router from "@/router";
export default{
	data() {
		return {
			dialog : true,
		}
	},
	methods: {
		next: function(){
			router.push("/home");
		}
	}
}
</script>
